{
	"AppId": "com.soltius.innovation",
	"DestinationName": "HANADBSCP",
	"OfflineEnabled": false,
	"PathSuffix": "/mdk/hana/content/services/StockSRV.xsodata",
	"ServiceUrl": "/destinations/mobileservices"
}